*.pyc
m5out
.vscode
results
envt
disk-image/packer
disk-image/prebuilt
disk-image/packer_1.4.3_linux_amd64.zip
disk-image/spec-hpc/spec-hpc-image
# TODO: CHANGE THIS AFTER WE GET WORKING CODE/BENCHMARK FORMAT
disk-image/spec-hpc/SOMA
disk-image/spec-hpc/TeaLeaf
disk-image/packer_cache
gem5
resources
rem5-resouces
spec_hpc_2021