*.pyc
m5out*
.vscode
results
envt
disk-image/packer
disk-image/prebuilt
disk-image/packer_1.4.3_linux_amd64.zip
disk-image/spec-hpc/spec-hpc-image
disk-image/spec-hpc/spec-hpc-image-old
# TODO: CHANGE THIS AFTER WE GET WORKING CODE/BENCHMARK FORMAT
disk-image/spec-hpc/SOMA
disk-image/packer_cache
gem5**
resources
rem5-resouces
spec_hpc_2021
archive**
transcript*.log
disk-image/hpc
disk-image/from-src/tests/CloverLeaf_MPI
disk-image/from-src/tests/miniWeather_MPI
disk-image/from-src/from-src-image
disk-image/from-src/scripts/*.pc
disk-image/from-src/mpich*
disk-image/cloverleaf/cloverleaf-image